@use './variaveis.scss' as *;

.missao-card {
  background-color: $cor-clara;
  border-radius: $borda-arredondada;
  box-shadow: $sombras;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  }

  .missao-icone-container {
    padding: $espacamento;
    background: linear-gradient(135deg, $cor-destaque, $cor-destaque-hover);
    display: flex;
    justify-content: center;
    font-size: rem;
    border-top-left-radius: $borda-arredondada;
    border-top-right-radius: $borda-arredondada;
   
  }
  
  .missao-conteudo {
    padding: $espacamento * 1.5;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  h3 {
    margin: 0 0 0.5rem 0;
  }

  .localizacao {
    font-weight: bold;
    color: $cor-destaque;
    margin-bottom: $espacamento;
  }

  .missao-botao {
    background-color: $cor-oposta;
    color: $cor-escura;
    border: none;
    padding: $espacamento 0.75rem;
    border-radius: $borda-arredondada;
    font-weight: bold;
    cursor: pointer;
    margin-top: auto;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $cor-oposta;
    }

    &:focus-visible {
       outline: 2px solid $cor-destaque-hover;
       outline-offset: 2px;
    }
  }
}